@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Growly  */
  --color-growly-main: #1dd16e;
  --color-growly-main-darker: #25eb7e;
  --color-growly-white: #ffffff;
  --color-growly-contrast: #dddddd;
  /* */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.gradientText {
  @apply bg-gradient-to-t from-gray-600 via-gray-700 to-gray-700 bg-clip-text text-transparent;
}